<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagement.styles.css" asp-append-version="true" />
</head>
<body class="rounded" >
    <header class="mx-3">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light theme-nav border-bottom box-shadow mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bolder" asp-area="" asp-controller="Home" asp-action="Index"> Library Management Sysytem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 container-fluid">
            @RenderBody()
        </main>
    </div>
    <div id="modal-placeholder"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1d989daaf7.js" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/plugins/global/plugins.bundle.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="@Url.Content("~/js/custom2/UI_Bootbox.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_ModalEvents.js")"></script>
    <script src="@Url.Content("~/js/custom2/UI_BlockUI.js")"></script>
    <script src="@Url.Content("~/js/custom2/InitMain.js")"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
